.user-png{
    width: 30px;
    height: 30px;
}

.navbar-brand b{
    /* color: rgb(225, 0, 0); */
    color: rgba(240, 0, 0, 87);
}

.btn-nav {
 background-color: rgba(240, 0, 0, 87);
 border-radius: 5px;
 color: white !important;
 font-weight: bold;
}